# Carpeta de compilación 
Debug/ 
Release/

#Archivos binarios
*.o
*.elf
*.bin
*.hex
*.map

# Configuración local
.settings/

# Ignorar archivo especifico

Src/stm32f7xx_hal_msp.c
Src/stm32f7xx_it.c
Src/syscalls.c
Src/sysmem.c
Src/system_stm32f7xx.c

Inc/stm32f7xx_hal_conf.h
Inc/stm32f7xx_it.h
